.App {
  text-align: center;
}

h1 {
  color: rgb(0, 101, 252);
  font-size: 45px;
}

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 63px;
  height: 34px;
  margin: auto;
  border: 8px solid grey;
  border-radius: 6px;
  font-size: 30px;
  text-align: center;
}

#but {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  border: 3px solid rgb(4, 15, 27);
  margin: auto;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: rgb(255, 60, 0);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#print {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: dodgerblue;
  font-size: 20px;
}

#main {
  text-align: center;
}

#ins {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: dodgerblue;
  font-size: 17px;
}
